.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    border: 1px solid #ccc;
}
.column{
    display: flex;
    flex: 1;
    justify-content: center; 
    align-items: center;     
    padding: 20px;         
}
.circle{
    width: 100px;
    height: 100px;
    background-color: #5d93e8; 
    border-radius: 50%;       
}
.left-column{
border-right: 1px solid #ccc;
}
.right-column{
    color: #333;
}